/* GLOBAL */

body
{
	margin: 0px;
	padding: 0px;
	background-color: rgb(106,142,45);
	background-image: url("../img/about-repeat.jpg");
	background-position: fixed;
	background-repeat: repeat;
	color: rgb(235, 235, 235);
	font-size: 20px;
	font-family: "Century Gothic";
}

section
{
	max-width: 1024px;
	margin: auto;
}

b
{
	font-size: 20px;
	font-family: "Century Gothic";
}

/* CHARTS */
#programming-language
{
	float: left;
	text-align: center;
}

#canvas-holder
{
	margin-top: 25px;
}

/* BODY */
h1
{
	font-size: 35px;
	font-family: "Times News Roman";
	color: DodgerBlue;
	margin: 0px;
	padding: 0px;
}

h2
{
	font-size: 25px;
	font-family: "Century Gothic";
	color: rgb(235,235,235);
	margin: 0px;
	padding: 0px;
}

#objective
{
	margin: 100px 0px 100px 0px;
	padding: 25px;
	width: 100%;
	height: 150px;
	background-color: rgba(0,0,50,0.5);
}

#school
{
	float: left;
	margin: 25px 0px;
	width: 70%;
	text-align: left-side;
}

#cegep-logo
{
	float: right;
	width: 25%;
	height: 25%;
	margin: 50px 10px 25px 0px;
}

/* Donut Chart */
#container
{
	float: left;
	margin: 0px 25px;
	width: 20%; 
	height: 20%;
	clear: both;
}

#language
{
	float: right;
	width: 65%;
	padding: 100px 0px;
}

/* Half Donut Chart*/
#container-half
{
	float: right;
	margin: 0px 0px;
	width: 25%; 
	height: 25%;
	clear: both;
}

#engine
{
	float: left;
	width: 65%;
	padding: 100px 0px;
}

/* Basic Column Chart */
#container-bar
{
	float: left;
	margin: 0px 25px 0px 0px;
	width: 30%; 
	height: 10%;
	clear: both;
}

#research
{
	float: right;
	width: 65%;
	padding: 100px 0px;
}

#work
{
	width: 100%;
	clear: both;
	padding-top: 25px;
	margin-bottom: 50px;
}

#participation
{
	clear: both;
	margin: 50px 0px;
}

#work-showcase
{
	width: 80%;
	margin: auto;
	border-collapse: separate;
    border-spacing: 0px 50px;
}

.date
{
	vertical-align: top;
	text-align: right;
	padding: 15px;
	width: 150px;
	border-right: solid 1px white;
}

.description
{
	text-align: left;
	padding: 15px 0px 0px 35px;
}
