/* GLOBAL */

body
{
	margin: 0px;
	padding: 0px;
	background-color: rgb(66,96,98);
	background-image: url("../img/game-repeat.jpg");
	background-position: fixed;
	background-repeat: repeat;
}

/* BODY */
h1
{
	font: inherit;
	font-size: 25px;
}

h2
{
	font-size: 30px;
	margin: 0px;
	padding: 0px;
}

#section-description
{
	font-size: 45px;
	font-family: "Century Gothic";
	color: white;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 25px;
}

#cd-timeline
{
	color: black;
}

.project-preview
{
	width: 50%;
	float: right;
	margin-top: -50px;
	border: 3px solid rgb(50,50,50);
}

.center
{
	margin: auto;
	width: 50%;
}

#project-list
{
	font-size: 20px;
}

#project-list li
{
	margin: 5px 0px;
}