html, body 
{
	min-width: 1024px;
	width: 80%;
    max-width: 100hh;
	margin: 0 auto;
	font-family: "Century Gothic";
	color: rgb(225,225,225);
	overflow-x: hidden;
}

/* HEADER */
header
{
	position: static;
	width: 100%;
	margin: 0px;
	padding: 2px;
	background-color: rgb(75, 75, 75);
	font-size: 25px;
	font-family: Arial;
}

header a:hover
{
	color: dodgerblue;
	cursor: pointer;
}

blockquote
{
	text-indent: 50px;
}

#logo
{
	background-image: url("../img/logo.png");
	background-size: 50px 50px;
	float: left;
	width: 50px;
	height: 50px;
	margin: 10px;
}

#logo:hover
{
	background-image: url("../img/bluelogo.png");
}

nav
{
	margin: 20px;
	text-align: center;
}

a
{
	text-decoration: none;
	color: rgb(225,225,225);
}

.dodgerblue-hover:hover
{
	color: dodgerblue;
}

.leftverticalline
{
	border-left: 1px solid rgb(225,225,225);
	margin-left: 60px;
	padding-left: 65px;
}

.clear
{
	clear: both;
}

footer
{
	background-color: darkslategray;
	width: 100hh;
	height: 300px;
	overflow: hidden;
	padding: auto;
}

footer:after
{
	clear: both;
}

.footer-section
{
	border: 1px solid white;
	float: left;
	width: 25%;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

.square-list
{
	list-style-type: square;
}

#language-change
{
	float: right; 
	font-size: 15px; 
	margin: 25px 25px;
}

