/* GLOBAL */

body
{
	margin: 0px;
	padding: 0px;
	background-color: rgb(127,66,146);
	background-image: url("../img/contact-repeat.jpg");
	background-position: fixed;
	background-repeat: repeat;
}

b
{
	font-size: 25px;
	font-family: "Century Gothic";
	color: DodgerBlue;
}

/* BODY */
#form-contact
{
	width: 65%;
	padding: 50px;
	margin: 50px auto;
	color: white;
}

.button
{
	background-color: rgb(225,225,225);
	padding: 1% 3%;
	display: inline-block;
	border-radius: 4px;
	color: black;
}

.button:hover
{
	color: dodgerblue;
}

.section-info
{
	width: 100%;
	margin-top: 50px;
	height: 300px;
	border-collapse: separate;
	border-spacing: 40px 0px;
	table-layout: fixed;
}

.section-info tr td
{
	background-color: rgb(50,50,50);
	padding: 25px;
	text-align: center;
	border: 5px solid rgb(50,50,50);
	word-wrap: break-word;
}
.icon
{
	width: 30%;
}

.blue-bar
{
	background-color: dodgerblue;
	border-color: dodgerblue;
}

#download-table
{
	margin-top: 150px;
	border-spacing: 100px 0px;
	width: 100%;
	text-align: center;
}

.small-icon img
{
	width: 50px;
	margin-bottom: -20px;
	margin-top: 25px;
}

.small-icon
{
	margin-left: 50px;
}

#availability
{
	float: right;
	margin-top: 50px;
	margin-right: 50px;
	font-size: 18px;
}