/* GLOBAL */

body
{
	margin: 0px;
	padding: 0px;
	background-color: rgb(66,96,98);
	background-image: url("../img/game-repeat.jpg");
	background-position: fixed;
	background-repeat: repeat;
}

b
{
	font-size: 25px;
	font-family: "Century Gothic";
	color: DodgerBlue;
}

/* BODY */

section
{
	margin: auto;
	width: 50%;
}

h1
{
	font-size: 35px;
	color: DodgerBlue;
	margin: 0px;
	padding: 0px;
}

h2
{
	font-size: 30px;
	font-family: "Century Gothic";
	margin: 0px;
	padding: 0px;
}

#section-description
{
	font: inherit;
	font-size: 45px;
	font-family: "Century Gothic";
	color: white;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 25px;
}

#interface-picture
{
	width: 40%;
}

.fill-width
{
	width: 100%;
}

.half-width
{
	width: 49%;
	height: 300px;
}



